.home-layout {
  display: grid;
  min-height: 100vh;
  grid-template-columns: [first] 13% [second] 87% [columns-end];
  grid-template-rows: [row1-start] 5vh [row2-start] 5vh [row3-start] auto [rows-end];
}

.nav {
  margin: 10px;
  height: fit-content;
  width: auto;
  grid-column: first;
  grid-row: row1-start/ rows-end;
}

.body {
  margin: 10px;
  height: 90%;
  padding: 10px;
  grid-column: second;
  grid-row: row1-start / rows-end;
}

.query-paper {
  width: 100%;
}

.query-form-header {
  margin-left: 5px;
}

.query-form-item {
  margin-left: 5px;
  padding: 0;
}

.query-button {

}

.query-results-main {
  height: 65%;
}

.query-results-tables-container {
  height: 99%;
  display: grid;
  /* grid-template-columns: [first] 50% [second] 50% [columns-end]; */
  grid-template-columns: [first] 99% [columns-end];
  grid-template-rows: [start] 99% [end];
}

.upload-modal {
  position: 'absolute';
  top: '50%';
  left: '50%';
  transform: 'translate(-50%, -50%)';
  width: 400;
}

.query-form-row {
  margin: 5px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}